* {
  box-sizing: border-box;
  margin: 0;
  font-family: "roboto";
}

html {
  background-color: var(--bkgr-color);
}

:root {
  --sidebar-bcgr: #0ea5e9;
  --bkgr-color: #e5e7eb;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
}


/*Sidebar */
.sidebar {
  background-color: var(--sidebar-bcgr);
  grid-area: 1/ 1/ 3/ 2;
}

.sidebar > ul {
  list-style-type: none;
  margin-top: 2rem;
}

li {
  height: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sidebar > h2, 
li {
  color: white;
  font-size: 1.5rem;
}

.sidebar > h2 {margin-left: 2rem;}

/*Sidebar icon*/
a, 
a:visited {
  text-decoration: none;
  color: white;
}
a > img {
  position: relative;
  top: 4px;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  filter: invert(99%) sepia(25%) saturate(2%) hue-rotate(16deg) brightness(108%) contrast(100%);
}

#dashboard-icon {
  position: relative;
  top: 12px;
  height: 3rem;
  width: 3rem;
  margin-right: 12px;
  filter: invert(99%) sepia(25%) saturate(2%) hue-rotate(16deg) brightness(108%) contrast(100%);
}
/*Sidebar icon*/
/*Sidebar */

/*Header*/
.header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template: 1fr 1fr / 1.5fr 1fr;
  padding: 1.5rem 3rem 0 3rem;
  box-shadow: 2px 1px 5px gray;
}

input {
  width: 100%;
  height: 2rem;
  border-radius: 20px;
  padding-left: 2rem;
  margin-top: 2px;
  border: none;
  background: url("./images/magnify.svg") no-repeat var(--bkgr-color);
}

#notification-btn,
#profile-btn {
  border: none;
  background-color: white;
  border-radius: 30px;
  background-size: cover;
  height: 2rem;
  width: 2rem;
}

#notification-btn {
  background: url("./images/bell-ring-outline.svg");
  position: relative;
  top: 8px;
}

#profile-btn {
  background: url("../../../Desktop/Images/641968.jpg");
  height: 3rem;
  width: 3rem;
  background-size: cover;
}

#notification-btn:hover,
#profile-btn:hover,
.opt-btns > button:hover {box-shadow: 0 0 0 3px  #fcd34d;}

#profile-name {
  display: inline-block;
  position: relative;
  top: 16px;
}

.header-right {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  justify-content: end;
  margin-left: 5rem;
}

#profile-image {
  height: 4rem;
  width: 4rem;
  border-radius: 30px;
  object-fit: cover;
}

.profile-greeting {
  display: inline-block;
  position: relative;
  top: -15px;
  left: 10px;
}


.opt-btns {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-items: right;
  justify-content: end;
}

.opt-btns > button {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 25px;
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
}
/*Header*/

/*Content*/
.content {
  display: grid;
  grid-template: 1.5fr 1fr / 3fr 1fr;
  padding: 2rem;
  gap: 16px 0;
}
.content > div > div {background-color: white;}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template: 0.1fr repeat(3, 1fr) / repeat(2, 1fr);
  gap: 16px 20px;
  padding-right: 2rem;
}
.projects > h3 {
  grid-area: 1 / 1 / 2 / 3;
}

.card {
  border-radius: 8px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 2rem 2rem 0 2rem;
  background: linear-gradient(
        to right,
        #fcd34d 0%,
        #fcd34d 2%,
        white 2%,
        white 100%
    );
  box-shadow: 1px 1px 8px #d1d5db;
}

.content-text > p,
.announcement-card > div > p {
  color: grey;
  font-weight: 300;
}

.content-icons {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  justify-content: right;
}
#favourite-btn {background: url("./images/star-plus-outline.svg");}
#view-btn {background: url("./images/eye-plus-outline.svg");}
#share-btn {background: url("./images/share-variant-outline.svg");}

#favourite-btn,
#view-btn,
#share-btn {
  border: none;
  height: 1.5rem;
  width: 1.5rem;
}

#favourite-btn:hover,
#view-btn:hover,
#share-btn:hover {
  box-shadow: 0 0 0 2px  #fcd34d;
  border-radius: 4px;
}

.announcements {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.announcement-card {
  border-radius: 8px;
  box-shadow: 1px 1px 8px #d1d5db;
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.announcement-card > div {
  border-bottom: 1px solid #d1d5db;
  padding: 1rem;
}

.announcement-card > div:nth-child(3) {border: none;}

.trending {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: 1fr 10fr;
}
/*Content*/





